# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
node_modules

# registry
.npmrc
.yarnrc
.yarnrc.yml
.yarn/cache


# builds
build
coverage
dist
dist-ssr
*.local
.rpt2_cache


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.tanstack
.vscode
npm-debug.log*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# .env files
.env.local
.env.client-dev
.env.development.local
.env.test.local
.env.production.local

# Storybook
*storybook.log
storybook-static

