.phone-input {
  button,
  input {
    border: 1px solid #ccc;
    outline: none;
  }
  button {

    position: relative;
    border-right: none;
    border-radius: 3px 0px 0px 3px;
    padding: 1px 7px 1px;
    width: 30px;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border: 2.8px solid transparent;
      border-color: #000 transparent transparent transparent;
      position: absolute;
      right: 1px;
      top: 40%;
      pointer-events: none;
    }
  }
  input {
    border-radius: 0px 3px 3px 0px;
    padding: 1px 5px;
  }
  ul {
    border: 1px solid #ccc;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    overflow-y: auto;
    padding-left: 0;
    li {
      padding: 3px 0.5rem;
      &:not(:last-of-type) {
        border-bottom: 1px solid #ccc;
      }
      &:hover,
      &.country-active {
        background-color: #ddd;
        color: currentColor;
        cursor: pointer;
      }
    }
  }
}
